- name: Zabbix repository added
  apt:
    deb: https://repo.zabbix.com/zabbix/5.4/debian/pool/main/z/zabbix-release/zabbix-release_5.4-1+debian11_all.deb

- name: Zabbix server installed
  apt:
    name:
      - zabbix-server-pgsql
      - zabbix-frontend-php
      - php7.4-pgsql
      - zabbix-nginx-conf
      - zabbix-sql-scripts
      - zabbix-agent
      - python3-psycopg2
      - fonts-ipaexfont
    update_cache: yes

- name: set font to ipaex-gothic
  command: update-alternatives --install /usr/share/zabbix/assets/fonts/graphfont.ttf zabbix-frontend-font /usr/share/fonts/truetype/fonts-japanese-gothic.ttf 20

- name: Create zabbix user, set MD5-hashed password, grant privs
  community.postgresql.postgresql_user:
    name: "{{ zabbix_db_user }}"
    password: "{{ zabbix_db_password }}"
  become: yes
  become_user: postgres

- name: Create initial database
  community.postgresql.postgresql_db:
    name: "{{ zabbix_db }}"
    owner: "{{ zabbix_db_user }}"
    encoding: "UTF-8"
  become_user: postgres

- name: check history talble exists
  community.postgresql.postgresql_query:
    db: zabbix
    query: select count(*) from information_schema.tables where table_name = 'history';
  register: table_history_exists
  become_user: postgres

- name: DEBUG history table exists
  debug:
    msg: "table:history_exists: {{ table_history_exists.query_result[0].count}}"

- name: install zabbix schema
  shell: zcat /usr/share/doc/zabbix-sql-scripts/postgresql/create.sql.gz | PGPASSWORD={{zabbix_db_password}} psql {{ zabbix_db }}
  when: table_history_exists.query_result[0].count == 0
  become_user: "{{ zabbix_db_user }}"

- name: Configure the database for Zabbix server
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_server.conf
    regexp: '^DBPassword='
    line: DBPassword={{ zabbix_db_password }}

- name: Start Zabbix server processes
  systemd:
    name: zabbix-server
    enabled: yes
    state: started

- name: Start Zabbix agent processes
  systemd:
    name: zabbix-agent
    enabled: yes
    state: started

- name: nginx disable default site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: nginx-restart

- name: Start nginx processes
  systemd:
    name: nginx
    enabled: yes
    state: started

- name: Start php fpm processes
  systemd:
    name: php7.4-fpm
    enabled: yes
    state: started

- name: set zabbix frontend config
  template:
    src: zabbix.conf.php.j2
    dest: /etc/zabbix/web/zabbix.conf.php
    owner: www-data
    group: www-data
    mode: 0600
